@media only screen and (max-width: 769px) {

   /*  * {
        outline: 1px solid red !important;
    } */

    body {
        max-width: 100%;
    }

    .container {
        max-width: 100%;
        padding: 0px 15px;
        margin: auto;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        padding: 25px 0px;
    }

    .huddle-logo {
        max-width: 140px;
    }

    .huddle-logo img {

    }

    .huddle-signup {
        padding: 0px 10px;
    }

    .main-text-container {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-text-container h1 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .main-text-container p {

        font-size: 10px;
        width: 100%;
        text-align: center;
        color: gray;
        padding-bottom: 40px;
    }

    .get-started {
        width: 50%;
        height: auto;
        display: inline-block;
        padding: 10px 1px;

    }

    .main-img-container {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
    }

    .main-img-container img {
        width: 100%;
        height: auto;
    }

    .sidebyside {
        background-color: #f6fbff;
    }

    .sidebyside-containar {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-left: 0;
        margin-right: 0;
        padding: 30px;
    }

    .headline {
        font-size: 24px;
        font-weight: 700;
        margin: 29px 0;
    }

    .side-texts {
        padding: 0;
    }

    .side-texts p {
        font-size: 12px;
        color: gray;
    }

    .side-img {
        width: 100%;
        flex: auto;
        height: auto;
        padding: 0;
    }

    .side-img img {
        display: block;
        width: 100%;
        height: auto;
    }

 
.above-footer-container {
    display: flex;
    flex-direction: column;
    margin: 80px 0px;
}

.above-footer-container h2 {
    padding: 20px 5px;
    font-size: 18px;
}

.social-medias {
    color: white;
    font-size: 40px;
}

footer {
}

.upside {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.upside .upsidebox {
    flex: 1;
    order: 2;
    
    margin-top: 30px;
    margin-bottom: 30px;
}


.upside .upsidebox.upside-first .upside-text {
    margin: 25px 0px;
}

.upside .upsidebox.upside-middle {
    flex: 2;
}


.upside .upsidebox.upside-middle div {
    width: 100%;
    margin: 8px 0;
    text-align: left;

}

.downside {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.upside .upsidebox.upside-right {
    margin: 20px 0;
    order: 1;
}

.subscribe {
    font-size: 24px;
    margin-bottom: 29px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.subscribe-form input {
    padding: 8px 16px;
    margin: 0px;
    outline: none;
    width: 100%;
    border-radius: 4px 0 0 4px;
    border: none;
}



.formbutton {
    font-size: 16px;
    padding: 14px 20px;
    margin: 0px;
    color: white;
    border-radius: 0 4px 4px 0;
    background: rgb(195, 34, 162);
    background: linear-gradient(0deg, rgba(195, 34, 162, 1) 0%, rgba(252, 113, 174, 1) 100%);
}
}